
/**
 * Wrapper
 * 
 * 
 */

.wrapper {
    position: relative;
    max-width: -webkit-calc(900px - (30px * 2));
    max-width: calc(900px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        max-width: -webkit-calc(1000px - (30px));
        max-width: calc(1000px - (30px));
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 3%;
        margin-left: 3%;
        font-size: 10px;
    }
}

.box {
    /* border: 0.5px solid gray; */
    border-radius: 1%;
    background-color: white;
    box-shadow: rgb(234, 235, 236) .5px 2px 4px .5px;
    margin: auto;
    margin-top: 3%;
}


.box:hover {
    /* font-size: 140%; */
    /* width: 120%; */
    /* transition: 200ms linear; */
    /* box-shadow: 1.5px 1.5px 1.5px 1.5px lightgrey */
        /* border: 2px solid #3b9b6d; */
}

#ID.card-center{
    background-color: #F5F5F5;
    transition: 200ms linear;
    border: 4px solid transparent;
    height: 40;
    font-weight: 700;
}

#ID.card-center:hover{
    background-color:white;
    border: 4px solid #32AE97;
    border-radius: .3em;
    color: #32AE97;
}

#ID.card-center:focus{
    color: #32AE97;
    background-color:white;
    border: 4px solid #32AE97;
    border-radius: .3em;
}

h1.border-bottom {
    color: #32AE97;
    font-weight: 700;
    font-variant: small-caps;
    border-bottom: 1.5px dotted #32AE97;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    font-size: 30px;
    /*padding-bottom: 1.5em;*/
    /*letter-spacing: +0.025em;*/
    /*padding-left: +2.5%;
    margin-left: -2.5%;*/
}
.clickable {
    cursor: pointer;
    transition: all 100ms ease-in-out;
    /* border-radius: 8%; */
}
.clickable:hover {
    border: 9px gray solid !important;
    /* border-radius: 8%; */
    /* box-shadow: grey 0px 2px 4px 0px; */
}

.animate {
    transform: scale(1.3);
}

.rounded {
    border-radius: .2em;
    box-shadow: rgb(234, 235, 236) .5px 2px 4px .5px;

}

.main {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}

.DivElements {
    margin-right: auto;
    margin-left: auto;
    display: block;
}


main {
    display: flex;
    /*height: 100vh;*/
    justify-content: center;
    align-items: center;
    color: #333;
}

form {
    /*max-width: 500px;*/
    min-width: 100%;
    min-height: 100%;
}

#Top  {
    margin-top: 25%;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /*border: 1px solid rgba(0, 0, 0, .125);*/
    border-radius: .35rem;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 45%;
    box-shadow:#9C9C9C 0px 2px 2px 0px;
    transition: height .4s linear;
    
    transition: all .5s ease-in-out;
     /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
/* .card:hover {
    transition: linear 500ms;
    box-shadow:#9C9C9C 1px 4px 6px 1px;
} */
}

.card-wrapper {
    transition: height .4s;
}

.card-header {
    padding: 1.75rem 2.15rem;
    margin-bottom: 5%;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-top-left-radius: .35rem;
    border-top-right-radius: .35rem;
    /*border-radius: .25rem;
    /*background-color: ;*/
    color: white;
    font-size: 120%;
    /*font: bold;*/
    background: rgba(50, 174, 151, 1); /*url('images/logo-ens.png') no-repeat 99% 50%;*/
    background-size: 50px;
    font-weight: bolder;
}

.card-text:last-child {
    margin-bottom: 4% !important;
    white-space: pre-line;
}

.card-text {
    margin-bottom: 4% !important;
    white-space: pre-line;
    font-size: large;
    font-weight: 497;
}

.card-button {
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
}

.btn-default.card-button {
    background-color: rgba(50, 174, 151, 0.86) !important; /*url('images/logo-ens.png') no-repeat 99% 50%;*/
    background-image: none !important;
    border-color: rgba(50, 174, 151, 0.4) !important; /*url('images/logo-ens.png') no-repeat 99% 50%;*/
    color: white;
    font-weight: 650;
    border-radius: .35rem;
    text-shadow: none;
}

.btn-default.card-button:hover {
    background-color: rgba(50, 174, 151, 0.5) !important; /*url('images/logo-ens.png') no-repeat 99% 50%;*/
}

.btn-default.card-button:focus {
    color: white;
}

.card-center {
    display: block;
    margin-right: auto !important;
    margin-left: auto !important;
}

.card-title {
    font-weight: bolder;
    font-size: 110%;
}

.card-img {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 2%;
    margin-bottom: 2%;
}

input:focus {
    border-color: rgba(50, 174, 151, 1) !important;
    background-image: none;
    border-radius: .35rem;
    border-style: solid;
    outline: none;
}


body {
    background: #fafafa;
}

html {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    -ms-font-smoothing: antialiased !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #555555;
}

.md-stepper-horizontal {
    display: table;
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    background: url('images/logo-ens.png') no-repeat 1% 50%;
    background-size: 70px;

    /* box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .50); */
}


@media only screen and (min-width: 300px) and (max-width: 1100px) {
    /*.img-responsive {*/
        /*max-width: 160% !important;*/
    /*}*/

    /*.col-xs-4 {*/
        /*max-width: 160% !important;*/
    /*}*/
    /*.col-md-4 {*/
        /*max-width: 160% !important;*/
    /*}*/
    /**/
    /*.img-responsive {*/
        /*max-width: 160% !important;*/
    /*}*/
    .md-stepper-horizontal {
        background: url('images/logo-ens.png') no-repeat 1% 50%;
        background-size: 27px;
    }

    .md-step-title {
        font-size: 8px !important;
    }

    .md-step {
        padding: 4px !important;
    }

    .md-step-circle {
        height: 15px !important;
        width: 15px !important;
    }
    .card
    {
        width: 70% !important;
    }

    .md-stepper-horizontal .md-step .md-step-bar-right {
        display: none;
    }

    .md-stepper-horizontal .md-step .md-step-bar-left {
        display: none;
    }

    #skipButton {
        margin-left: 0 !important;
    }

    @media only screen and (max-height: 600px) {
        #game {
            height: 70%;
        }

        #stim-box {
            height: 80%;
        }

        .img-responsive {
            height: 80%;
            max-width: none;
        }
    }
}


input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 2px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
}

input[type='radio']:checked {
    background-color: rgba(50, 174, 151, 1) !important;
    /* color: rgba(50, 174, 151, 1); */
}
/* Customize the label (the container) */
.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    /* display: none;*/
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkcontainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkcontainer input:checked ~ .checkmark {
    background-color: rgba(50, 174, 151, 1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.card-content {
    padding: 3% !important;
}

/*.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {*/
/*background-color: #1b6d85!important;*/
/*}*/

#skipButton {
    margin-left: 30% !important;
    margin-bottom: auto !important;
    margin-top: auto !important;
    display: block;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#game {
    padding-left: 15%;
    padding-right: 15%;
}
#stim-box {
    margin-top: 5%;
}

.skip-form {
    margin-top: 20%;
}

